@import "tailwindcss";

/* global.css */
html {
  scroll-behavior: smooth;
}

/* Optional: Mobile momentum scroll */
.scroll-container {
  -webkit-overflow-scrolling: touch;
}
.custom-green {
  color: #3E7B27; 
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  animation: typewriter 3s steps(30) 1s forwards; 
}