@import "tailwindcss";

@media (max-width: 768px) {
    main {
      background-size: contain; 
    }
  }
  
body {
    overflow: hidden;
  }

.custom-green {
  color: #3E7B27; 
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center; /* Center-align text inside the element */
  margin: 0 auto; /* Center the element itself */
  
  animation: typewriter 3s steps(30) 1s forwards; 
}

  